<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            ngModel
            class="form-control"
            id="name"
            name="name"
            type="text"
            required
          >
          <span class="alert-info" *ngIf="form.touched && form.invalid">Required!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            ngModel
            name="amount"
            class="form-control"
            id="amount"
            type="number"
            min="0"
            max="1000"
            required
            >
          <span class="alert-info" *ngIf="form.touched && form.invalid">Required!</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!form.valid"
          >{{ !editMode ? 'Add' : 'Edit' }}</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
